        {% load static %}
        
        <div class="container-fluid bg-light mt-5 p-5">
            <h3>Conceptune</h3>
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p><h6>Conceptune</h6></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Home</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/about">About</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/contact">Contact</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/privacy">Privacy</a></p>
                            </div>
                            <div class="col">
                                <p><h6>Products</h6></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/chatbots">Chatbots</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/emforms">Embedded Forms</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/docs">Docs</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/pricing">Pricing</a></p>
                            </div>
                            <div class="col">
                                <p><h6>Account</h6></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Create an Account</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Already a Customer</a></p>
                                <p><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/terms">Terms of Use</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <h6>copyright @ conceptune.com | 2023</h6>
        </div>

        <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    </body>
</html>